:root {
  /* font-family: 'Open Sans', sans-serif;
	--font-family: 'Open Sans', sans-serif; */
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.max-w-80rem {
  max-width: 80rem;
}

.max-w-40rem {
  max-width: 40rem;
}

.bg-transparent {
  background-color: transparent;
}

.user-menu-popup {
  padding: 0.15625rem;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
